# SPDX-FileCopyrightText: 2022 Intevation GmbH
# SPDX-License-Identifier: BSD-3-Clause

[Unit]
Description=Hockeypuck PGP server
After=networking.target postgresql.service
Requires=postgresql.service

[Service]
Type=exec
ExecStart={{ hockeypuck_home }}/bin/hockeypuck -config /etc/hockeypuck/hockeypuck.conf
ExecReload=/bin/kill -USR1 $MAINPID
LimitNOFILE=49152
Environment=HOME={{ hockeypuck_home }}
User=hockeypuck

[Install]
WantedBy=multi-user.target
